@model BusinessObjectLayer.CommonModels.CategoryModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}



<!-- form start -->

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Add Category</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="txtCategoryName" value="@Model.CategoryName" name="@Model.CategoryName" placeholder="Default Input">
                        </div>
                    </div>
                    <br />
                    <br />

                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Select Custom</label>
                        <div class="col-sm-10">
                            @*<input type="hidden" id="hdnCategoryId" value="@(Model.ParentID)" />*@
                            <select class="form-control select2_single " id="ddnCategory">
                                <option value="0">Select Category Name</option>
                               

                                @if (Model.CategoryList != null)
                                    {
                                        foreach (var item in Model.CategoryList)
                                        {
                                            string isSelected = string.Empty;
                                            if (item.CategoryId == Model.ParentId)
                                            {
                                                isSelected = "selected";
                                            }
                                    <option value="@item.CategoryId" @isSelected>@item.CategoryName</option>
                                        }
                                    }

                            </select>
                        </div>
                    </div>

                </div>

                <!-- /.box-body -->
                <div class="box-footer">

                    <input type="hidden" id="hdnCategoryId" value="@Model.CategoryId" />
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                            @if (Model.CategoryId != null && Model.CategoryId != 0)
                            {
                                <button type="button" class="btn btn-success" data-id="@Model.CategoryId" id="btnRegisterUpdate">
                                    <span style="display: none;"> <img src="/images/loader.gif">  </span>
                                    Update
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success" data-id="0" id="btnRegister">
                                    <span style="display: none;"> <img src="/images/loader.gif">  </span>
                                    Register
                                </button>
                            }
                            <button type="button" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>

                </div>

            </form>
        </div>
    </div>
</div>

@*<div class="row" id="listCategory">
        @Html.Partial("_ListCategory")
    </div>*@



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/toastr.min.js"></script>

<script>
    $(document).ready(function () {
        $(document).on("click", "#btnRegister,#btnRegisterUpdate", function (e) {
            var _registrationModel = {
                CategoryId: $("#hdnCategoryId").val(),
                CategoryName: $("#txtCategoryName").val(),
                ParentId: $("#ddnCategory").val()
            };
            // buttonDisabledReg();
            $.ajax({
                url: "http://localhost:56802/Admin/Category1/AddCategory",
                type: "POST",
                data: _registrationModel,
                success: function (response) {
                    if (response != null) {
                        Clear();
                        toastr.success("Category Inserted");
                        window.location.href = '/Admin/Category1/Index';
                    }
                    //$("#listCategory").empty().append(response);
                    //buttonEnableReg();
                },
                error: function (err) {
                    toastr.error("Registration failed: Internal server error");
                    //buttonEnableReg();
                    console.log(err);
                }
            });
        });
    });


    function Clear() {
        $("#txtCategoryName").val("");
        $("#ddnCategory").val("0");
    }
    //function buttonEnableReg() {
    //    $("#btnRegister span,#btnRegisterUpdate span").hide();
    //    $("#btnRegister,#btnRegisterUpdate").prop("disabled", false);
    //}


    //function buttonDisabledReg() {
    //    $("#btnRegister span,#btnRegisterUpdate span").show();
    //    $("#btnRegister,#btnRegisterUpdate").prop("disabled", true);
    //}

</script>