@model BusinessObjectLayer.CommonModels.BillingModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Invoice</h3>
            </div>
            <div class="box-body">
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-7">
                                <img src="~/images/logo.png" />
                            </div>
                            <div class="col-md-5">
                                <div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Customer Name</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @Model.CustomerName
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Invc Date</label>
                                        <div class="col-md-8 col-sm-8 col-xs-12">
                                            @Model.InvoiceDate
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="col-md-12">


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><strong>Order summary</strong></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <thead>
                                                <tr>
                                                    <td><strong>Product name</strong></td>
                                                    <td><strong>Quantity</strong></td>
                                                    <td class="text-center"><strong>Price</strong></td>
                                                    <td class="text-center"><strong>Discount</strong></td>
                                                    <td class="text-right"><strong>Amount</strong></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.BillingList != null && Model.BillingList.Any())
                                                {
                                                    foreach (var item in Model.BillingList)
                                                    {
                                                        <tr>
                                                            <td>@item.ProductName</td>
                                                            <td>@item.ProductQuantity</td>
                                                            <td class="text-center">@item.ProductPrice</td>
                                                            <td class="text-center">@item.ProductDiscount</td>
                                                            <td class="text-right">@item.ProductAmount</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line"></td>
                                                    <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                                    <td class="thick-line text-right">@Model.SubTotal</td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center"><strong>Discount</strong></td>
                                                    <td class="no-line text-right">@Model.Discount</td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center"><strong>Adjustment</strong></td>
                                                    <td class="no-line text-right">@Model.Adjustment</td>
                                                </tr>
                                                <tr>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line"></td>
                                                    <td class="no-line text-center"><strong>Total</strong></td>
                                                    <td class="no-line text-right">@Model.GrandTotal</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<style>
    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tfoot > tr > .thick-line {
        border-top: 2px solid;
    }
</style>